---
services:
    gluetun:
        image: qmcgaw/gluetun
        privileged: true
        cap_add:
            - NET_ADMIN
        devices:
            - /dev/net/tun:/dev/net/tun
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - VPN_SERVICE_PROVIDER=mullvad
            - VPN_TYPE=wireguard
            - WIREGUARD_ADDRESSES=10.65.170.140/32
            - SERVER_CITIES=Zurich
            - VPN_PRIVATE_SUBNETS=192.168.215.0/24,172.17.0.0/16,0.250.250.254/32,192.168.1.11/32
            - FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24,192.168.215.0/24

        secrets:
            - wireguard_private_key
        ports:
            - 8081:8080/tcp # qBittorrent
            - 8081:8080 # qBittorrent
            - 6881:6881
            - 6881:6881/udp
            - 7878:7878 # Radarr
            - 9696:9696 # Prowlarr
            - 8191:8191 # Flaresolver
            - 8989:8989 # Sonarr
            - 8089:8096 # Jellyfin
            - 6767:6767 # Bazarr
            - 8920:8920
            - 7359:7359/udp
            # - 1900:1900/udp
            - 6969:6969 # Whisparr
            - 5055:5055 # Jellyseerr
            - 8686:8686 # Lidarr
            - 5030:5030 # Slskd Web UI
        volumes:
            - ./config/gluetun/config:/config

    flaresolverr:
        # DockerHub mirror flaresolverr/flaresolverr:latest
        image: ghcr.io/flaresolverr/flaresolverr:latest
        container_name: flaresolverr
        environment:
            - LOG_LEVEL=${LOG_LEVEL:-info}
            - LOG_HTML=${LOG_HTML:-false}
            - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
            - TZ=Europe/London
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        restart: unless-stopped

    bazarr:
        image: lscr.io/linuxserver/bazarr:latest
        container_name: bazarr
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Etc/UTC
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        volumes:
            - ./config/bazarr/config:/config
            - ./Torrent:/data #optional
        restart: unless-stopped

    jellyseerr:
        container_name: jellyseerr
        image: ghcr.io/fallenbagel/jellyseerr:latest
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        environment:
            - PUID=1000
            - PGID=1000
            - UMASK=002
            - TZ=Etc/UTC
        volumes:
            - ./config/jellyseer/config/:/app/config

    prowlarr:
        image: lscr.io/linuxserver/prowlarr:latest
        container_name: prowlarr
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Etc/UTC
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        volumes:
            - ./config/prowlarr/config:/config
        restart: unless-stopped

    qbittorrent:
        image: lscr.io/linuxserver/qbittorrent:latest
        container_name: qbittorrent
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Etc/UTC
            - WEBUI_PORT=8080
            - TORRENTING_PORT=6881
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        volumes:
            - ./config/qbittorrent/config:/config
            - ./Torrent:/data #optional
        restart: unless-stopped

    radarr:
        image: lscr.io/linuxserver/radarr:latest
        container_name: radarr
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Etc/UTC
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        volumes:
            - ./config/radarr/config:/config
            - ./Torrent:/data #optional
        restart: unless-stopped

    sonarr:
        image: lscr.io/linuxserver/sonarr:latest
        container_name: sonarr
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Etc/UTC
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        volumes:
            - ./config/sonarr/config:/config
            - ./Torrent:/data #optional
        restart: unless-stopped

    whisparr:
        container_name: whisparr
        image: ghcr.io/hotio/whisparr
        environment:
            - PUID=1000
            - PGID=1000
            - UMASK=002
            - TZ=Etc/UTC
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        volumes:
            - ./config/whisparr/config:/config
            - ./Torrent:/data #optional
        restart: unless-stopped

    lidarr:
        image: lscr.io/linuxserver/lidarr:latest
        container_name: lidarr
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Etc/UTC
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        volumes:
            - ./config/lidarr/config:/config
            - ./Torrent:/data
        restart: unless-stopped

    slskd:
        image: slskd/slskd:latest
        container_name: slskd
        environment:
            - SLSKD_WEB__PORT=5030
            - SLSKD_WEB__URL_BASE=/
            - PUID=1000
            - PGID=1000
            - TZ=Europe/Madrid
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
        volumes:
            - ./config/slskd:/app/data
            - ./config/slskd/slskd.yml:/app/slskd.yml:ro
            - ./Torrent:/storage
        restart: unless-stopped

    soularr:
        image: mrusse08/soularr:latest
        container_name: soularr
        network_mode: "service:gluetun"
        depends_on:
            - gluetun
            - slskd
            - lidarr
        environment:
            - TZ=Europe/Madrid
        volumes:
            - ./config/soularr:/data
        restart: unless-stopped

secrets:
    wireguard_private_key:
        file: ./config/gluetun/config/secrets.txt
